<!-- CAROUSSEL -->
<div class="container">
  <div class="row">
    <div class="col-1 col-lg-3 px-0 mx-0"></div>
    <div id="carouselExampleCaptions" class="carousel slide col-10 col-lg-6 px-0 mx-0" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="shoppingcart.html"><img
              src="https://www.ocu.org/-/media/ocu/images/newsletters/members/consumer/2020/naranjas_3_16x9.jpg?rev=2d5ba522-801c-4300-bb33-6d07030e7ac8&hash=18692D3742A29E18113841124CE221B3"
              class="d-block w-100 img-fluid"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: white;">Texto</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="shoppingcart.html"><img
              src="https://as01.epimg.net/diarioas/imagenes/2021/07/24/actualidad/1627109736_460003_1627109871_noticia_normal_recorte1.jpg"
              class="d-block w-100"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: white;">Texto</h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="shoppingcart.html"><img
              src="https://s1.eestatic.com/2021/07/30/ciencia/nutricion/600458205_197881010_1024x576.jpg"
              class="d-block w-100"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Texto</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="b-example-divider"></div>
<!-- /CAROUSSEL -->
